#header {
    position: fixed;
}

#logo img {
    width: 30%;
    margin: 5%;
}

.main-menu li {
    list-style: none;
    width: 200px;
    padding: 20px 20px;
    text-align: center;
}

.main-menu li a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

body {
    margin:0;
}

.main-menu {
    margin: 0;
    display: table;
    right: 0;
    position: fixed;
    top: 40%;
}

