/* Text setting */
.text-center {
    text-align: center;   
}

#header {
    position: fixed;
}

#logo img {
    width: 30%;
    margin: 5%;
}

.main-menu li {
    list-style: none;
    width: 200px;
    padding: 20px 20px;
    text-align: center;
}

.main-menu li a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

body {
    margin:0;
}

.main-menu {
    margin: 0;
    display: table;
    right: 0;
    position: fixed;
    top: 40%;
}

#slider-inner {
    position: fixed;
    top: 40%;
    right: 0;
    left: 0;
    width: 50%;
    color: #fff;
    text-align: center;
    display: table-cell;
    margin: 0 auto;
    z-index: 0;
}

#content-body {
    padding: 50px 0;
}

